{% extends "layout.html" %} {% block content %}
<h1>About DiagnoSys</h1>
<p>
  DiagnoSys is a web application designed to help users diagnose common issues
  with their computer systems. It provides a user-friendly interface to guide
  users through troubleshooting steps and offers solutions based on the symptoms
  they report. The application is built using Flask, a lightweight web framework
  for Python, and utilizes a SQLite database to store user data and diagnostic
  information. Our goal is to make computer troubleshooting accessible to
  everyone, regardless of their technical expertise. For more information,
  contact us at tkzulu44@gmail.com
</p>
{% endblock content %}
